extends ../layouts/default

block content
	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			p: a(href='/knowledge') &larr; back to the knowledge bank
			hr
			if !data.knowledge
				h2 Oops...that's not an item in the knowledge bank!
			else
				header
					h1= data.knowledge.title
					h5 Knowledge bank items
						if data.knowledge.publishedDate
							| on #{data.knowledge._.publishedDate.format('MMMM Do, YYYY')}
						if data.knowledge.categories && data.knowledge.categories.length
							| in
							each cat, cat_i in data.knowledge.categories
								a(href='/blog/' + cat.key)= cat.name
								if cat_i < data.knowledge.categories.length - 1
									| ,
								else
									|
						if data.knowledge.author
							| by #{data.knowledge.author.name.first}
				.knowledge
					if data.knowledge.image.exists
						.image-wrap: img(src=data.knowledge._.image.fit(750,450)).img-responsive
					!= data.knowledge.content.full
